<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link 
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
          crossorigin="anonymous">
        <script 
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
          crossorigin="anonymous">
        </script>

        <%- include("./partials/header.ejs") %>
        
        <script>
          function deleteOpportunity(opportunityId){
            alert("There was a submition")
            const options = {
                method: 'DELETE',
                headers: {
                  'Authorization': 'Bearer ' + process.env.BEARER_TOKEN,
                  'Content-Type': 'application/json'
                }
              };
          
              const varHttpRequest = 'https://inbdpa.api.hscc.bdpa.org/v1/opportunities/' + opportunityId; //Setting uri based on user input
              
              fetch(varHttpRequest, options)
                .then(response => response.json())
                .then(async data => {
                  if (data.success === false){  
                    res.render('error', { title: 'Error', message: 'Something Went Wrong'});
                    return "error";
                  }
                  else 
                  {
                    res.redirect("/opportunities");
                  }
                })
                .catch(error => { //Error in the fetch
                  console.error(error);
                  res.render('error', { title: 'Invalid User', message: 'Invalid username or password', data: error.data });
                  return "error";
                })
        }
        </script>

        <title><%= title %></title>
        <script>
          var myModal = document.getElementById('myModal')
          var myInput = document.getElementById('myInput')
        
          myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
          })
        </script>
      </head>

      <body style="background-color: hsl(0, 0%, 96%)">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOpportunityModal">
    Add Opportunity
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="addOpportunityModal" tabindex="-1" aria-labelledby="addOpportunityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addOpportunityModalLabel">Add Opportunity</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/myOpportunities" method="POST">
            <!-- Opportunity Title input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="">Opportunity Title</label>
              <input
                type="text"
                name="createOpportunityTitle"
                id="createOpportunityTitle"
                class="form-control"
                value=""
              />
            </div>

            <!-- Opportunity Content input -->
            <div class="form-outline mb-4">
             <label class="form-label" for="">Opportunity Content</label>
             <input
               type="text"
               name="createOpportunityContent"
               id="createOpportunityContent"
               class="form-control"
               value=""
             />
           </div>
   
           <br>

           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary">Save changes</button>
           </div>
   
         </form>
          
        </div>
      </div>
    </div>
  </div>

        <% if (opportunities !== null) { %> <%opportunities.forEach(function(opportunity){%>
          <% const { time, created, updated } = utils.timeConverter(opportunity.createdAt, opportunity.updatedAt) %>
            <section>
            <div class="container py-5">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card" style="border-radius: 1rem">
                    <div class="card-body p-5">
                      <h2 class="fw-bold mb-2">
                        <div class="text-center">
                        <a
                        href="/opportunities/<%= opportunity.opportunity_id%>"
                        id="<% opportunity.opportunity_id %>"
                        style="text-decoration: none; color: black"
                        ><%= opportunity.title%></a
                        >
                      </div>
                      </h2>

                      <br>

                      <div class="row">
                        <div class="text-center">Views: <%= opportunity.views %></div>
                      </div>
                      <div class="row">
                        <div class="text-center">Created At: <%= created.toLocaleString('en-US') %></div>
                      </div>
                      <div class="row">
                        <div class="text-center">Updated At: <%= updated.toLocaleString('en-US') %></div>
                      </div>
                      <div class="row">
                        <div class="text-center">Last Updated: <%= time %> ago %> </div>
                      </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
          </section>
          <% }) %> 
          <% }; %>
          <%- include('./partials/footer') -%> <!-- includes footer partial -->
    </body>
</html>
