<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- head partial -->
  </head>
  <script>
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
</script>
  <body>
    
    <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->
  
   
    
    <!-- Sets up a welcome message.  We'll talk about the title variable placeholder next week. -->
    <h1 class="text-center">  <%= title %></h1>
    <p class="text-center"> Welcome to <%= title %></p>
       <table>
       <tr>
            <td>About:</td> <td><%= about %> </td></td>
          </tr>
            
         <tr>
          <td></td>
          <td>Record ID</td><td>    </td>
          <td>Title</td><td>    </td>
          <td>location</td> <td>    </td>
          <td>Description</td>
      </tr>
      <tr>
        <td>Section:</td><td> Education </td> 
  <tr>

      <tr>
           
        <%for (var result in education){%>
          <td></td>
          <td><%=result  %></td><td>    </td>
          <td><%= education[result].title %>   </td> <td>    </td>
          <td><%= education[result].location %></td> <td>    </td>
          <td><%= education[result].description %>" </td>  
      </tr>
          
      <%}%> 
      </div>  
      <div>
        <tr>
          <td>Section:</td><td> experience </td> 
    <tr>

        <tr>

        
           
          <%for (var result in experience){%>
            <td></td>
            <td><%=result  %></td><td>    </td>
            <td><%= experience[result].title %>   </td> <td>    </td>
            <td><%= experience[result].location %></td> <td>    </td>
            <td><%= experience[result].description %>" </td>  
        </tr>
            
        <%}%> 
      </div>
      <tr>
        <td>Section:</td><td> volunteering </td> 
  <tr>


      <%for (var result in volunteering){%>
        <td></td>
        <td><%=result  %></td><td>    </td>
        <td><%= volunteering[result].title %>   </td> <td>    </td>
        <td><%= volunteering[result].location %></td> <td>    </td>
        <td><%= volunteering[result].description %>" </td>  
    </tr>
        
    <%}%> 
  </div>
  

    </div>
    <tr>
      <td>Section:</td><td> skills </td> 
<tr>

      <tr>
        <%for (var result in skills){%>
          <td></td>
          <td><%=result  %></td>
          <td>  <%= skills[result]%> </td>
      </tr>

<%}%>
      </div>

    </table>
  

    <%- include('./partials/footer') -%> <!-- includes footer partial -->
  </body>
</html>