<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- head partial -->
  </head>
  <body>
    <%- include('./partials/header') -%> 
    <h1><%= title %></h1>
    <p>There are a total of <%= blogs %> blogs, <%= pages %> pages, and <%= users %> users.</p>
  </body>
</html>